:root{
    --branco: #dcd7ea;
    --roxo: rgb(97, 83, 193);
    --preto: rgb(39, 34, 52);

    --primary-color: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
    --secondary-color: #ff5473;
}