@import './configuracao-scss/variaveis.scss';
@import './configuracao-scss/reset.scss';
@import './configuracao-scss/rem-calc.scss';
@import './configuracao-scss/btn.scss';
@import './configuracao-scss/animation.scss';


html{
    font-family: 'Roboto', sans-serif;
    background: var(--primary-color);
}

main {
    width: rem-calc(600);
    margin: 0 auto;
    box-sizing: border-box;
}